[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-login = "*"
flask-mongoengine-3 = "*"
flask-babel = "*"

[dev-packages]
watchdog = "*"
faker = "*"

[requires]
python_version = "3.13"
