[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-login = "*"
flask-mongoengine-3 = "*"
flask-babel = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-migrate = "*"
flask-ckeditor = "*"
bleach = "*"
flask-mail = "*"
flask-avatars = "*"
flask-whooshee = "*"
flask-dropzone = "*"
pillow = "*"

[dev-packages]
watchdog = "*"
faker = "*"
flask-debugtoolbar = "*"
pytest = "*"
selenium = "*"
coverage = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.13"
