{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}
  Password Reset
{% endblock title %}

{% block content %}
  <div class="page-header">
    <h1>Password Reset</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <img class="rounded img-fluid" src="{{ url_for('static', filename='images/index.jpg') }}" />
    </div>
    <div class="col-md-4">
      <div class="card mb-3 w-100 bg-light">
        <div class="card-body">
          {{ render_form(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}