# upload files
uploads/*
!uploads/avatars
!uploads/.gitkeep

# upload avatars
uploads/avatars/*
!uploads/avatars/.gitkeep

# db files
*.db

# whooshee files
whooshee/*
!whooshee/.gitkeep

# test screenshots pngs
tests/ui_screenshots/*
!tests/ui_screenshots/.gitkeep

# assets build cache
**/*/.webassets-cache